{% extends 'app-layout.html.twig' %}

{% form_theme form 'form/tailwind_custom.html.twig' %}

{% block content %}
  <div class="flex flex-col gap-4 sm:flex-row sm:items-center justify-between">
    <div class="flex-auto max-w-2xl text-pretty">
      <h1 class="text-lg font-semibold text-gray-900">
        Create Team
      </h1>
      <p class="mt-2 text-base text-gray-600">
        Start a new team to collaborate with others. You'll be automatically
        added as the team owner.
      </p>
    </div>
  </div>

  <div class="mt-8">
    {{
      form_start(
        form,
        {
          action: path('app_team_new')
        }
      )
    }}
    {{ form_errors(form) }}

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-full">
        {{ form_row(form.name) }}
      </div>

      <div class="col-span-full">
        {{ form_row(form.description) }}
      </div>

      <div class="sm:col-span-full">
        <label class="block text-sm font-medium text-gray-900 mb-2">
          Add Members
        </label>
        <div class="flex flex-col gap-2">
          {% for checkbox in form.users %}
            <label class="inline-flex items-center gap-2">
              {{ form_widget(checkbox) }}
              {{ form_label(checkbox) }}
            </label>
          {% endfor %}
        </div>
        {{ form_errors(form.users) }}
      </div>
    </div>

    <div class="mt-8 flex items-center justify-end gap-x-6">
      <a href="{{ path('app_teams_list') }}"
        class="btn-style-ghost btn-size-md">
        Cancel
      </a>
      <button type="submit" class="btn-style-primary btn-size-md">
        Create Team
      </button>
    </div>

    {{ form_end(form) }}
  </div>
{% endblock %}
