{% extends 'app-layout.html.twig' %}

{% form_theme form 'form/tailwind_custom.html.twig' %}

{% block content %}
  <div class="flex flex-col gap-4 sm:flex-row sm:items-center justify-between">
    <div class="flex-auto max-w-2xl text-pretty">
      <h1 class="text-lg font-medium text-gray-900">
        New Task
      </h1>
      <p class="mt-2 text-base text-gray-600">
        Create a new task. Please make sure to save any changes before leaving
        this page.
      </p>
    </div>
  </div>

  <div class="mt-8">
    {{
      form_start(
        form,
        {
          action: path(
            'app_task_new',
            {
              redirectTo: app.request.query.get('redirectTo')
            }
          )
        }
      )
    }}
    {{ form_errors(form) }}

    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-full">
        {{ form_row(form.title) }}
      </div>

      <div class="col-span-full">
        {{ form_row(form.description) }}
      </div>

      <div class="sm:col-span-1">
        {{ form_row(form.team) }}
      </div>

      <div class="sm:col-span-1">
        {{ form_row(form.assignedTo) }}
      </div>

      <div class="sm:col-span-1">
        {{ form_row(form.status) }}
      </div>

      <div class="sm:col-span-1">
        {{ form_row(form.priority) }}
      </div>

      <div class="sm:col-span-1">
        {{ form_row(form.deadline) }}
      </div>
    </div>

    <div class="mt-8 flex items-center justify-end gap-x-6">
      <a href="{{ app.request.query.get('redirectTo')|default(
          path('app_tasks_list')
        ) }}"
        class="btn-style-ghost btn-size-md">
        Cancel
      </a>
      <button type="submit" class="btn-style-primary btn-size-md">Save</button>
    </div>

    {{ form_end(form) }}
  </div>
{% endblock %}
