{% extends 'base.html.twig' %}

{% block body %}
  <el-dialog>
    <dialog id="sidebar" class="backdrop:bg-transparent lg:hidden">
      <el-dialog-backdrop class="backdrop"></el-dialog-backdrop>

      <div tabindex="0" class="fixed inset-0 flex focus:outline-none">
        <el-dialog-panel class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full">
          <div class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0">
            <button type="button"
              command="close"
              commandfor="sidebar"
              class="btn-style-ghost btn-size-sm -m-2.5">
              <span class="sr-only">Close sidebar</span>
              <svg viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                data-slot="icon"
                aria-hidden="true"
                class="size-6">
                <path d="M6 18 18 6M6 6l12 12"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex grow flex-col gap-y-2 overflow-y-auto bg-gray-100 px-6 pb-2">
            <div class="flex h-14 shrink-0 items-center">
              <div class="flex h-16 text-indigo-600 shrink-0 items-center font-mono tracking-tight">
                <span class="text-gray-400">&lt;</span>StudiBonnTask<span class="text-gray-400">
                  &gt;
                </span>
              </div>
            </div>
            <nav class="flex flex-1 flex-col">
              <ul role="list" class="flex flex-1 flex-col gap-y-7">
                <li>
                  <ul role="list" class="-mx-2 space-y-1">
                    <li>
                      <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                      <a href="{{ path('app_tasks_list') }}"
                        class="{{
                        app.request.get('_route') starts with 'app_tasks'
                          ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                          : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                        }}">
                        <svg viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          data-slot="icon"
                          aria-hidden="true"
                          class="{{
                          app.request.get('_route') starts with 'app_tasks'
                            ? 'size-6 shrink-0 text-indigo-600'
                            : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                          }}">
                          <path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>Tasks
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('app_teams_list') }}"
                        class="{{
                        app.request.get('_route') starts with 'app_teams'
                          ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                          : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                        }}">
                        <svg viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          data-slot="icon"
                          aria-hidden="true"
                          class="{{
                          app.request.get('_route') starts with 'app_teams'
                            ? 'size-6 shrink-0 text-indigo-600'
                            : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                          }}">
                          <path d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>Teams
                      </a>
                    </li>
                    <li>
                      <a href="#"
                        class="{{
                        app.request.get('_route') starts with 'app_users'
                          ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                          : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                        }}">
                        <svg viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          data-slot="icon"
                          aria-hidden="true"
                          class="{{
                          app.request.get('_route') starts with 'app_users'
                            ? 'size-6 shrink-0 text-indigo-600'
                            : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                          }}">
                          <path d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>Users
                      </a>
                    </li>
                    <li>
                      <a href="#"
                        class="{{
                        app.request.get('_route')
                          starts with 'app_notifications'
                          ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                          : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                        }}">
                        <svg viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          data-slot="icon"
                          aria-hidden="true"
                          class="{{
                          app.request.get('_route')
                            starts with 'app_notifications'
                            ? 'size-6 shrink-0 text-indigo-600'
                            : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                          }}">
                          <path d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 0 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>Notifications
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="text-xs/6 font-medium text-gray-400">
                    Your teams
                  </div>
                  <ul role="list" class="-mx-2 mt-2 space-y-1">
                    <li>
                      <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                      <a href="#"
                        class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                        <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                          H
                        </span>
                        <span class="truncate">Heroicons</span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                        class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                        <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                          T
                        </span>
                        <span class="truncate">Tailwind Labs</span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                        class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                        <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                          W
                        </span>
                        <span class="truncate">Workcation</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>

  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-2 overflow-y-auto border-r border-gray-200 bg-gray-100 px-6">
      <div class="flex h-14 text-indigo-600 shrink-0 items-center font-mono tracking-tight">
        <span class="text-gray-400">&lt;</span>StudiBonnTask<span class="text-gray-400">
          &gt;
        </span>
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                <a href="{{ path('app_tasks_list') }}"
                  class="{{
                  app.request.get('_route') starts with 'app_tasks'
                    ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                    : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                  }}">
                  <svg viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    data-slot="icon"
                    aria-hidden="true"
                    class="{{
                    app.request.get('_route') starts with 'app_tasks'
                      ? 'size-6 shrink-0 text-indigo-600'
                      : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                    }}">
                    <path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>Tasks
                </a>
              </li>
              <li>
                <a href="{{ path('app_teams_list') }}"
                  class="{{
                  app.request.get('_route') starts with 'app_teams'
                    ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                    : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                  }}">
                  <svg viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    data-slot="icon"
                    aria-hidden="true"
                    class="{{
                    app.request.get('_route') starts with 'app_teams'
                      ? 'size-6 shrink-0 text-indigo-600'
                      : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                    }}">
                    <path d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>Teams
                </a>
              </li>
              <li>
                <a href="#"
                  class="{{
                  app.request.get('_route') starts with 'app_users'
                    ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                    : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                  }}">
                  <svg viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    data-slot="icon"
                    aria-hidden="true"
                    class="{{
                    app.request.get('_route') starts with 'app_users'
                      ? 'size-6 shrink-0 text-indigo-600'
                      : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                    }}">
                    <path d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>Users
                </a>
              </li>
              <li>
                <a href="{{ path('app_notifications_list') }}"
                  class="{{
                  app.request.get('_route') starts with 'app_notifications'
                    ? 'group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm/6 font-medium text-indigo-600'
                    : 'group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600'
                  }}">
                  <svg viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    data-slot="icon"
                    aria-hidden="true"
                    class="{{
                    app.request.get('_route') starts with 'app_notifications'
                      ? 'size-6 shrink-0 text-indigo-600'
                      : 'size-6 shrink-0 text-gray-400 group-hover:text-indigo-600'
                    }}">
                    <path d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 0 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>Notifications
                </a>
              </li>
            </ul>
          </li>
          <li>
            <div class="text-xs/6 font-medium text-gray-400">
              Your teams
            </div>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <li>
                <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                <a href="#"
                  class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                  <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                    H
                  </span>
                  <span class="truncate">Heroicons</span>
                </a>
              </li>
              <li>
                <a href="#"
                  class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                  <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                    T
                  </span>
                  <span class="truncate">Tailwind Labs</span>
                </a>
              </li>
              <li>
                <a href="#"
                  class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-medium text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                  <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">
                    W
                  </span>
                  <span class="truncate">Workcation</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="-mx-6 mt-auto">
            <el-dropdown class="dropdown">
              <button class="flex items-center gap-x-4 px-6 py-3 text-sm font-medium text-gray-900 hover:bg-gray-950/7.5 w-full focus-visible:outline-2 focus-visible:-outline-offset-4 focus-visible:outline-indigo-600">
                <img src="https://ui-avatars.com/api/?name={{ app.user.firstName|default(
                    'U'
                  ) }}+{{ app.user.lastName|default(
                    'ser'
                  ) }}&background=4f46e5&color=fff"
                  alt="{{ app.user.firstName|default('User') }}"
                  class="size-8 rounded-full bg-gray-50" />
                <span>
                  {{ app.user.firstName|default('User') }}
                  {{ app.user.lastName|default('') }}
                </span>
                <svg class="size-4 ml-auto" viewBox="0 0 20 20" fill="none">
                  <path d="M6 8l4 4 4-4"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
              <el-menu anchor="top start" popover class="dropdown-menu">
                <form id="logout-form-sidebar"
                  action="{{ path('app_logout') }}"
                  method="post">
                  <button type="submit" class="dropdown-item-destructive">
                    Logout
                  </button>
                </form>
              </el-menu>
            </el-dropdown>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="lg:pl-72">
    <div class="bg-gray-50/30 lg:hidden backdrop-blur-2xl px-4 sm:px-8 lg:px-16 gap-x-2 border-b border-gray-200 h-14 sticky top-0 flex items-center">
      <button type="button"
        command="show-modal"
        commandfor="sidebar"
        class="inline-flex px-1.5 py-1.5 -ml-1.5 lg:hidden items-center justify-center text-sm/6 font-medium text-gray-600 rounded-md hover:bg-gray-950/5 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-4">
          <path fill-rule="evenodd"
            d="M2 4.75A.75.75 0 0 1 2.75 4h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 6.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd" />
        </svg>

        <div class="sr-only">
          Open Menu
        </div>
      </button>

      <el-dropdown class="dropdown ml-auto">
        <button class="flex items-center gap-x-4 px-2 py-0.5 text-sm font-medium text-gray-900 hover:bg-gray-950/7.5 rounded focusable -mr-2">
          <span>
            {{ app.user.firstName|default('User') }}
            {{ app.user.lastName|default('') }}
          </span>
          <img src="https://ui-avatars.com/api/?name={{ app.user.firstName|default(
              'U'
            ) }}+{{ app.user.lastName|default(
              'ser'
            ) }}&background=4f46e5&color=fff"
            alt="{{ app.user.firstName|default('User') }}"
            class="size-8 rounded-full bg-gray-50" />
        </button>
        <el-menu anchor="top start" popover class="dropdown-menu">
          <form id="logout-form-sidebar"
            action="{{ path('app_logout') }}"
            method="post">
            <button type="submit" class="dropdown-item-destructive">
              Logout
            </button>
          </form>
        </el-menu>
      </el-dropdown>
    </div>
    <main class="py-10 lg:py-14">
      <div class="px-4 sm:px-8 lg:px-16">
        {% block content %}

        {% endblock %}
      </div>
    </main>
  </div>
{% endblock %}
