<div class="flex grow flex-col gap-y-2 overflow-y-auto border-r border-gray-200 bg-gray-100 px-6">
  {% include 'app-logo.html.twig' %}
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
      <li class="space-y-1.5">
        <div class="text-xs/6 font-medium text-gray-400">
          Pages
        </div>
        <ul role="list" class="-mx-2 space-y-1.5">
          <li>
            <a href="{{ path('app_tasks_list') }}"
              class="{{
              app.request.get('_route') == 'app_tasks_list'
                ? 'sidebar-item-active'
                : 'sidebar-item'
              }}">
              Tasks
            </a>
          </li>
          <li>
            <a href="{{ path('app_teams_list') }}"
              class="{{
              app.request.get('_route') == 'app_teams_list'
                ? 'sidebar-item-active'
                : 'sidebar-item'
              }}">
              Teams
            </a>
          </li>
          <li>
            <a href="{{ path('app_notifications_list') }}"
              class="{{
              app.request.get('_route') == 'app_notifications_list'
                ? 'sidebar-item-active'
                : 'sidebar-item'
              }}">
              Notifications
            </a>
          </li>
        </ul>
      </li>
      <li class="space-y-1.5">
        <div class="text-xs/6 font-medium text-gray-400">
          Your teams
        </div>
        <ul role="list" class="-mx-2 space-y-1.5">
          {% if (app.user.teams|length) == 0 %}
            <li class="pl-2">
              <a href="{{ path('app_team_new') }}"
                class="border-dashed border border-gray-400 rounded px-1 py-6 text-center flex flex-col items-center gap-1 text-gray-500 hover:bg-gray-950/7.5">
                <svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="size-4 text-gray-400">
                  <path d="M8 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM3.156 11.763c.16-.629.44-1.21.813-1.72a2.5 2.5 0 0 0-2.725 1.377c-.136.287.102.58.418.58h1.449c.01-.077.025-.156.045-.237ZM12.847 11.763c.02.08.036.16.046.237h1.446c.316 0 .554-.293.417-.579a2.5 2.5 0 0 0-2.722-1.378c.374.51.653 1.09.813 1.72ZM14 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM3.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM5 13c-.552 0-1.013-.455-.876-.99a4.002 4.002 0 0 1 7.753 0c.136.535-.324.99-.877.99H5Z" />
                </svg>

                <span class="text-sm font-medium">No teams yet</span>
                <p class="text-xs text-gray-400">
                  Click here to create your first team and start collaborating.
                </p>
              </a>
            </li>
          {% endif %}
          {% for team in app.user.teams %}
            <li>
              <a href="{{
                path(
                  'app_team_tasks',
                  {
                    id: team.id
                  }
                )
                }}"
                class="{{
                app.request.get('_route') == 'app_team_tasks'
                  and app.request.get('id') == team.id
                  ? 'sidebar-item-active'
                  : 'sidebar-item'
                }}">
                <span class="truncate">{{ team.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>

      <li class="-mx-6 mt-auto hidden lg:block">
        <el-dropdown class="dropdown">
          <button class="flex items-center gap-x-4 px-6 py-3 text-sm font-medium text-gray-900 hover:bg-gray-950/7.5 w-full focus-visible:outline-2 focus-visible:-outline-offset-4 focus-visible:outline-indigo-600">
            <img src="https://ui-avatars.com/api/?name={{ app.user.firstName|default(
                'U'
              ) }}+{{ app.user.lastName|default(
                'ser'
              ) }}&background=4f46e5&color=fff"
              alt="{{ app.user.firstName|default('User') }}"
              class="size-8 rounded-full bg-gray-50" />
            <span>
              {{ app.user.firstName|default('User') }}
              {{ app.user.lastName|default('') }}
            </span>
            <svg class="size-4 ml-auto" viewBox="0 0 20 20" fill="none">
              <path d="M6 8l4 4 4-4"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
          <el-menu anchor="top start" popover class="dropdown-menu">
            <form id="logout-form-sidebar"
              action="{{ path('app_logout') }}"
              method="post">
              <button type="submit" class="dropdown-item-destructive">
                Logout
              </button>
            </form>
          </el-menu>
        </el-dropdown>
      </li>
    </ul>
  </nav>
</div>
